<div class="card">
  <div class="flex justify-content-between flex-wrap">
    <div>
      <input
        type="text"
        pInputText
        [(ngModel)]="seachQuery"
        class="border-round-md w-15rem p-2"
        placeholder="Search tasks..."
      />
    </div>
    <div>
      <a
        routerLink="/tasks/add-task"
        pButton
        label="+ Add Tasks"
        severity="contrast"
        style="text-decoration: none"
      >
      </a>
    </div>
  </div>

  <p-table [value]="tasks" [scrollable]="true" scrollHeight="80vh" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        @for (col of cols; track col.field) {
          <th>{{ col.header }}</th>
        }
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template #body let-task>
      <tr 
      (click)="onRowClick(task)" class="cursor-pointer">
        @if (loading) {
          @for (col of cols; track col.field) {
            <td><p-skeleton /></td>
          }
          <td><p-skeleton width="2rem" /></td>
        } @else {
          @for (col of cols; track col.field) {
            <td>{{ task[col.field] }}</td>
          }

          <td>
            <p-menu #menu [model]="actionMenuItems" [popup]="true" appendTo="body"></p-menu>

            <p-button
              icon="pi pi-ellipsis-v"
              [text]="true"
              [rounded]="true"
              severity="secondary"
              (click)="onMenuClick($event, menu, task)"
            >
            </p-button>
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>

<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="120"
  [rowsPerPageOptions]="[10, 20, 30]"
/>
