<div>
  <p-button
    icon="pi pi-bars"
    text
    severity="secondary"
    styleClass="menu-toggle"
    (onClick)="layoutService.toggleSidebar()"
  >
  </p-button>

  <div class="sidebar" [class.sidebar-open]="layoutService.sidebarOpen()">
    <div class="sidebar-header">
      <h3>Task Management</h3>

      <i class="pi pi-times close-icon" (click)="layoutService.closeSidebar()"> </i>
    </div>

    <div class="menu-container">
      <a routerLink="/dashboard" routerLinkActive="active-menu" class="menu-link">
        <i class="pi pi-home"></i>
        <span>Dashboard</span>
      </a>

      <a routerLink="/tasks" routerLinkActive="active-menu" class="menu-link">
        <i class="pi pi-list-check"></i>
        <span>Tasks</span>
      </a>

      <a routerLink="/members" routerLinkActive="active-menu" class="menu-link">
        <i class="pi pi-users"></i>
        <span>Members</span>
      </a>
    </div>
    <div class="sidebar-footer">
      <div class="profile-section" routerLinkActive="active-menu">
        <i class="pi pi-user profile-icon"></i>
        <div routerLink="/profile-settings" class="profile-details">
          <span class="name">{{ username }}</span>
          <small>{{ role }}</small>
        </div>
      </div>

      <button
        pButton
        type="button"
        icon="pi pi-sign-out"
        label="Logout"
        variant="outlined"
        severity="danger"
        class="w-full"
        (click)="logout()"
      ></button>
    </div>
  </div>
</div>
